# Dictionary

Dictionary in Python is built-in data structure that stores a collection of key-value pairs. The ditionary is an unordered, mutable and indexed collection, where each key is unique. Dictionaries are often used for fast lookups and they are key part of Python's data handling capabilities.

### Characteristics of Dictionary:

**1. Mutable:** Dictionaries are mutable, meaning you can add, remove key-value pairs after the dictionary is created.

**2. Unordered:** Dictionaries do not guarantee the order of key-value pair.

**3. Key-Value Pairs:** Each element in a dictionary is a key-value pair. The key must be immutable (e.g., strings, numbers, tuples), and the value can be any type (e.g., number, string, list, another dictionary).

**4. Unique Keys:** Each key in a dictionary must be unique. If a key is repeated, the last value assigned to the key will overwrite the previous value.

**5. Indexed by Keys:** You can access the values in a dictionary by referring to their keys (using square brackets [] or get() method).

**6. Efficient Lookup:** Dictionaries use a hash table internally, which allows for fast access to values based on their keys.

### Creating Dictionary:

**1. Using curly braces {}:**

In [1]:
my_dict = {"name":"Tony Stark", "age":35, "city":"Malibu"}
my_dict

{'name': 'Tony Stark', 'age': 35, 'city': 'Malibu'}

**2. Using dict() constructor:**

In [2]:
my_dict = dict(name="Tony Stark", age=35, city="Malibu")
my_dict

{'name': 'Tony Stark', 'age': 35, 'city': 'Malibu'}

**3. Using a list of tuples:** Each tuple contains key-value pair.

In [3]:
my_dict = dict([('name','Tony Stark'), ('age', 35), ('city','Malibu')])
my_dict

{'name': 'Tony Stark', 'age': 35, 'city': 'Malibu'}

### Dictionary Operations: Access/Modify Data

In [4]:
D1 = {"Name":"Tony Stark", "AKA":"Iron Man", "Avenger":True, "Super Power":["Genius", "Rich"]}
D2 = {"Name":"Steve Rogers", "AKA":"Captain America", "Avenger":True, "Super Power":["Strength", "Leadership"]}
D3 = {"Name":"Peter Parker", "AKA":"Spider Man", "Avenger":True, "Super Power":["Genius", "Strength"]}
D4 = {"Name":"T Chaka", "AKA":"Black Panther", "Avenger":True, "Super Power":["King", "Rich", "technology"]}
D5 = {"Name":"Wade Wilson", "AKA":"Deadpool", "Avenger":False, "Super Power":["Immortal"]}

### get(key, default=None): 


Returns the value of the given key if the key is in the dictionary. If the key is not found, returns the specified default value (which is None by default).

In [5]:
D1.get("Name")

'Tony Stark'

In [6]:
# None by default

print(D1.get("City"))

None

In [7]:
# default value = 35 for non existing key Age

print(D1.get("Age", 35))

35

In [8]:
# default value = "USA" for non existing key = City

print(D1.get("Country", "USA"))

USA

### setdefault(key, default=None):

If the key is in dictionary, returns value. If not, inserts the key with the specified default value and returns that default value.

In [9]:
# already existing key

D2.setdefault("AKA", "Avenger")

'Captain America'

In [10]:
# non-existing key

D2.setdefault("Age", 35)
D2

{'Name': 'Steve Rogers',
 'AKA': 'Captain America',
 'Avenger': True,
 'Super Power': ['Strength', 'Leadership'],
 'Age': 35}

In [11]:
# by default value (None)

print(D2.setdefault("Country"))
D2

None

{'Name': 'Steve Rogers',
 'AKA': 'Captain America',
 'Avenger': True,
 'Super Power': ['Strength', 'Leadership'],
 'Age': 35,
 'Country': None}

### update(x):

Update the dictionary with key-value pairs from another dictionary or iterable of key-value pairs. If a key already exists, its value is updated; otherwise, the key-value pair is added.

In [12]:
# simple approach to update key-value pair

D2['Country'] = "USA"
D2

{'Name': 'Steve Rogers',
 'AKA': 'Captain America',
 'Avenger': True,
 'Super Power': ['Strength', 'Leadership'],
 'Age': 35,
 'Country': 'USA'}

In [13]:
# simple approach to update key-value pair

D3['Age'] = 25
D3

{'Name': 'Peter Parker',
 'AKA': 'Spider Man',
 'Avenger': True,
 'Super Power': ['Genius', 'Strength'],
 'Age': 25}

In [14]:
# using update method

D4.update({"Name":"T'Challa"})
D4

{'Name': "T'Challa",
 'AKA': 'Black Panther',
 'Avenger': True,
 'Super Power': ['King', 'Rich', 'technology']}

In [15]:
# using update method

D4.update({"Super Power":["Martial Arts", "Strength", "Rich"]})
D4

{'Name': "T'Challa",
 'AKA': 'Black Panther',
 'Avenger': True,
 'Super Power': ['Martial Arts', 'Strength', 'Rich']}

In [16]:
D5.update({"Super Power":["Immortal", "Sword Skills"]})
D5

{'Name': 'Wade Wilson',
 'AKA': 'Deadpool',
 'Avenger': False,
 'Super Power': ['Immortal', 'Sword Skills']}

### pop(key, default=None):

Removes the specified key and return its value. If the key is not found, the method returns the specified default value (which is None by default).

In [17]:
D5.pop("Avenger")
D5

{'Name': 'Wade Wilson',
 'AKA': 'Deadpool',
 'Super Power': ['Immortal', 'Sword Skills']}

In [18]:
print(D5.pop("Super Power",0))

print(D5)

['Immortal', 'Sword Skills']
{'Name': 'Wade Wilson', 'AKA': 'Deadpool'}

In [19]:
# Key doesn't exist

D5.pop("Super Power")

KeyError: 'Super Power'

### popitem():

Removes and returns an key-value pair (based on Last In First Out order) as a tuple.

In [20]:
D2.popitem()

('Country', 'USA')

In [21]:
D2.popitem()

('Age', 35)

In [22]:
D2.popitem()

('Super Power', ['Strength', 'Leadership'])

In [23]:
D2.popitem()

('Avenger', True)

In [ ]:
D2.popitem()

('AKA', 'Captain America')

In [25]:
D2.popitem()

('Name', 'Steve Rogers')

In [26]:
D2.popitem()

KeyError: 'popitem(): dictionary is empty'

### clear():

Removes all key-value pairs from the dictionary, leaving it empty.

In [27]:
D5.clear()
D5

{}

### Dictionary Operations: Methods to view dictionary keys, values and items

### keys():

Return a view object displaying a list of all the keys in the dictionary.

In [28]:
D1.keys()

dict_keys(['Name', 'AKA', 'Avenger', 'Super Power'])

In [29]:
D2.keys()

dict_keys([])

In [30]:
D3.keys()

dict_keys(['Name', 'AKA', 'Avenger', 'Super Power', 'Age'])

In [31]:
D4.keys()

dict_keys(['Name', 'AKA', 'Avenger', 'Super Power'])

In [32]:
D5.keys()

dict_keys([])

### values():

Return a view object displaying a list of all the values in the dictionary.

In [33]:
D1.values()

dict_values(['Tony Stark', 'Iron Man', True, ['Genius', 'Rich']])

In [34]:
D2.values()

dict_values([])

In [35]:
D3.values()

dict_values(['Peter Parker', 'Spider Man', True, ['Genius', 'Strength'], 25])

In [36]:
D4.values()

dict_values(["T'Challa", 'Black Panther', True, ['Martial Arts', 'Strength', 'Rich']])

In [37]:
D5.values()

dict_values([])

### items():

Returns a view object displaying a list of key-value pairs as tuples.

In [38]:
D1.items()

dict_items([('Name', 'Tony Stark'), ('AKA', 'Iron Man'), ('Avenger', True), ('Super Power', ['Genius', 'Rich'])])

In [39]:
D2.items()

dict_items([])

In [40]:
D3.items()

dict_items([('Name', 'Peter Parker'), ('AKA', 'Spider Man'), ('Avenger', True), ('Super Power', ['Genius', 'Strength']), ('Age', 25)])

In [41]:
D4.items()

dict_items([('Name', "T'Challa"), ('AKA', 'Black Panther'), ('Avenger', True), ('Super Power', ['Martial Arts', 'Strength', 'Rich'])])

In [42]:
D5.items()

dict_items([])

### Dictionary Operations: Other Methods

### fromkeys(iterable, value=None):

Create a new dictionaru with keys from the given iterable and the specified value for all keys.

In [43]:
D1.fromkeys("Heros")

{'H': None, 'e': None, 'r': None, 'o': None, 's': None}

In [44]:
dict.fromkeys(D1)

{'Name': None, 'AKA': None, 'Avenger': None, 'Super Power': None}

In [45]:
dict.fromkeys(D2, 0)

{}

In [46]:
dict.fromkeys(D2, "Secret")

{}

### copy():

Returns a shallow copy of the dictionary.

##### Shalow Copy example:

• Shalow copy is like shadow of tree. If we made changes in orginal list, same will appear in copied list.

• Copies the outer object, but nested objects are still references to the original nested objects.

In [47]:
D50 = D5

D50.update({"Technology": False})

print(f"Original Dict: {D5}")
print(f"Copied Dict: {D50}")

Original Dict: {'Technology': False}
Copied Dict: {'Technology': False}

##### Deep Copy example:

• Changes made in Copied list will not reflect in Original list.

• Copies both the outer object and all nested objects, so the new object is entirely independent of the original.

In [48]:
import copy

D20 = D2.copy()

D20.update({"Technology": False})

print(f"Original Dict: {D2}")
print(f"Copied Dict: {D20}")

Original Dict: {}
Copied Dict: {'Technology': False}

### del():

You can use the del keyword to remove a key-value pair from the dictionary by specifying the key.

In [50]:
del D5['Technology']

In [51]:
D5

{}

In [ ]:
del D4

In [ ]:
D4