# Set

Sets are commonly used when you need to store a collection of items, but you don't want any duplicates, and the order of the elements doesn't matter.

### Characteristics of Set:

**1. Mutable:** Sets are mutable, meaning you can add or remove elements after the set is created.

**2. Unordered:** Sets do not maintain any particular order of the elements.

**3. Unique Elements:** All elements in a set are unique. Duplicates are automatically removed.

**4. Unhashable Elements:** Only immutable (hashable) data types like numbers, strings, and tuples can be elements of a set. Lists or other sets cannot be added as a elemens.

### Creating Set:

You can create set by simply enclosing the elements of the set within curly braces or you can create set by using set() function, which can take an iterable (like a list, tuple or string) as an argument.

In [ ]:
my_set = {1,2,2,3,3,3,4,4,4,4,5,5,5,5,5}
my_set

{1, 2, 3, 4, 5}

In [ ]:
# create set from iterable (list)

S1 = set([1,2,2,3,3,3,4,4,4,4,5,5,5,5,5])
S1

{1, 2, 3, 4, 5}

In [ ]:
# create set from iterable (string)

S2 = set("Programming")
S2

{'P', 'a', 'g', 'i', 'm', 'n', 'o', 'r'}

In [7]:
# empty set

S3 = set()
S3

set()

### Set Operations: Adding Elements

### add(x):

Adds a single element to the set. If the element already exists, it does nothing.

In [11]:
S4 = {1, 2, 3, 4}

In [ ]:
# add integer element

S4.add(5)
S4

{1, 2, 3, 4, 5}

In [13]:
# add string element

S4.add('Python')
S4

{1, 2, 3, 4, 5, 'Python'}

In [14]:
# add existing element

S4.add('Python')
S4

{1, 2, 3, 4, 5, 'Python'}

In [18]:
# add tuple to set

S4.add((6,7,8,9,0))
S4

{(6, 7, 8, 9, 0), 1, 2, 3, 4, 5, 'Python'}

In [17]:
# add set to set

S4.add({6,7,8,9,0})
S4

TypeError: unhashable type: 'set'

In [ ]:
# add list to set

S4.add([1,2,3])
S4

TypeError: unhashable type: 'list'

In [20]:
# add multiple elements at time in a set

S4.add(0,1,2,3,5,7,11)
S4

TypeError: set.add() takes exactly one argument (7 given)

Note: adding multiple to a set can be achieved in update.

### update(x):

Adds multiple elements (from list, tuple, set, etc.) to the set.

In [21]:
S5 = {1,2,3,'Yes', 'No', True, False}

In [22]:
S5.update({4,5,6})
S5

{1, 2, 3, 4, 5, 6, False, 'No', 'Yes'}

In the set S5 = {1, 2, 3, 'Yes', 'No', True, False}, the value True is stored as 1 because Python treats True as 1 and False as 0.

After the update, {4, 5, 6} is added. Since 1 already exists in the set (as True), True is not added again.

In [23]:
S5.update({'Python', 'Programming', 'Language'})
S5

{1, 2, 3, 4, 5, 6, False, 'Language', 'No', 'Programming', 'Python', 'Yes'}

In [26]:
# update with list

lst = [7,8,9]

S5.update(lst)
print(S5)

{False, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Yes', 'Language', 'Programming', 'Python', 'No'}

In [27]:
# update with set

sets = {10,11,12}

S5.update(sets)
print(S5)

{False, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'Yes', 'Language', 'Programming', 'Python', 'No'}

In [28]:
# update with string

string = "PYTHON"

S5.update(string)
print(S5)

{False, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'Python', 'No', 'T', 'H', 'N', 'Yes', 'O', 'P', 'Language', 'Y', 'Programming'}

### Set Operations: Deleting Elements

### remove(x):

Removes a specific element (x) from the set. If the element is not found, it raises a KeyError.

In [35]:
S6 = {False, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'Python', 'No', 'T', 'H', 'N', 'Yes', 'O', 'P', 'Language', 'Y', 'Programming'}
print(S6)

{False, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'N', 'Yes', 'Python', 'O', 'P', 'No', 'Language', 'Y', 'T', 'Programming', 'H'}

In [36]:
S6.remove(False)
print(S6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'N', 'Yes', 'Python', 'O', 'P', 'No', 'Language', 'Y', 'T', 'Programming', 'H'}

In [37]:
S6.remove('No')
print(S6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'N', 'Yes', 'Python', 'O', 'P', 'Language', 'Y', 'T', 'Programming', 'H'}

In [38]:
S6.remove(12)
print(S6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'N', 'Yes', 'Python', 'O', 'P', 'Language', 'Y', 'T', 'Programming', 'H'}

In [45]:
S6.remove('A')
print(S6)

KeyError: 'A'

### discard(x):

Removes an element from the set if it exists. If the element is not found, it does nothing (no error).

In [41]:
print(S6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'N', 'Yes', 'Python', 'O', 'P', 'Language', 'Y', 'T', 'Programming', 'H'}

In [43]:
S6.discard(11)
print(S6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'N', 'Yes', 'Python', 'O', 'P', 'Language', 'Y', 'T', 'Programming', 'H'}

In [ ]:
S6.discard('Language')
print(S6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'N', 'Yes', 'Python', 'O', 'P', 'Y', 'T', 'Programming', 'H'}

In [46]:
# trying to delete/remove element which not in set

S6.discard('A')
print(S6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'N', 'Yes', 'Python', 'O', 'P', 'Y', 'T', 'Programming', 'H'}

### pop():

Removes and returns an arbitrary element from the set. Since sets are unordered, you can't predict which element will be removed.

In [47]:
print(S6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'N', 'Yes', 'Python', 'O', 'P', 'Y', 'T', 'Programming', 'H'}

In [48]:
S6.pop()
print(S6)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 'N', 'Yes', 'Python', 'O', 'P', 'Y', 'T', 'Programming', 'H'}

In [49]:
S6.pop()
print(S6)

{3, 4, 5, 6, 7, 8, 9, 10, 'N', 'Yes', 'Python', 'O', 'P', 'Y', 'T', 'Programming', 'H'}

In [50]:
S6.pop()
print(S6)

{4, 5, 6, 7, 8, 9, 10, 'N', 'Yes', 'Python', 'O', 'P', 'Y', 'T', 'Programming', 'H'}

### clear():

Removes all elements from the set.

In [51]:
print(S6)

{4, 5, 6, 7, 8, 9, 10, 'N', 'Yes', 'Python', 'O', 'P', 'Y', 'T', 'Programming', 'H'}

In [52]:
S6.clear()
print(S6)

set()

### Set Operations: Set Operations

In [64]:
S7 = {1,2,3,4,5,6,7}
S8 = {6,7,8,9,10,11,12}

S9  = {"Apple", "Banana", "Cherry"}
S10 = {"Cherry", "Dragonfruit", "Eggfruit"}

### union():

Combines elements from two sets, remving duplicates.

In [57]:
S7.union(S8)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [58]:
S9.union(S10)

{'Apple', 'Banana', 'Cherry', 'Dragonfruit', 'Eggfruit'}

In [59]:
S10.union("Hiii")

{'Cherry', 'Dragonfruit', 'Eggfruit', 'H', 'i'}

### intersection():

Returns the common elements from two sets.

In [60]:
S7.intersection(S8)

{6, 7}

In [61]:
S9.intersection(S10)

{'Cherry'}

In [ ]:
S9.intersection("Hiii")     # null intersection

set()

### intersection_update():

Update a set with the result of intersection of two sets.

In [65]:
S7.intersection_update(S8)
print(S7)

{6, 7}

In [66]:
S8.intersection_update(S7)
print(S8)

{6, 7}

In [67]:
S9.intersection_update(S10)
print(S9)

{'Cherry'}

In [68]:
S10.intersection_update(S9)
print(S10)

{'Cherry'}

### difference():

Returns elements in the first set but not in the second.

In [71]:
S11 = {1,2,3,4,5}
S12 = {6,7,8,9,10}

S13 = {"Apple", "Barclays", "Cisco"}
S14 = {"Cisco", "Diamler", "EY"}

In [72]:
S11.difference(S12)

{1, 2, 3, 4, 5}

In [73]:
S13.difference(S14)

{'Apple', 'Barclays'}

### difference_update():

Update a set with the result of difference of two sets.

In [74]:
S11.difference_update(S12)
print(S11)

{1, 2, 3, 4, 5}

In [75]:
S13.difference_update(S14)
print(S13)

{'Barclays', 'Apple'}

### symmetric_difference():

Returns elements that are in either of the sets, but not in both.

In [81]:
S11 = {1,2,3,4,5}
S12 = {6,7,8,9,10}

S13 = {"Apple", "Barclays", "Cisco"}
S14 = {"Cisco", "Diamler", "EY"}

In [82]:
S11.symmetric_difference(S12)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [83]:
S13.symmetric_difference(S14)

{'Apple', 'Barclays', 'Diamler', 'EY'}

### symmetric_difference_update():

Update a set with the result of symmetric_difference of two sets.

In [84]:
S11.symmetric_difference_update(S12)
S11

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [85]:
S13.symmetric_difference_update(S14)
S13

{'Apple', 'Barclays', 'Diamler', 'EY'}

### issubset():

Checks if all elements of the first set are in the second set.

In [86]:
S11 = {1,2,3,4,5}
S12 = {1,2,3}

S13 = {"Apple", "Barclays", "Cisco"}
S14 = {"Apple", "Barclays"}

In [87]:
S11.issubset(S12)

False

In [88]:
S12.issubset(S11)

True

In [89]:
S13.issubset(S14)

False

In [90]:
S14.issubset(S13)

True

### issuperset():

Checks if the first contains all elements of the second set.

In [91]:
S11.issuperset(S12)

True

In [92]:
S12.issuperset(S11)

False

In [93]:
S13.issuperset(S14)

True

In [94]:
S14.issuperset(S13)

False

### isdisjoint():

Checks if two sets have no elements in common.

In [98]:
S15 = {1,2,3,4,5}
S16 = {6,7,8,9,10}

S17 = {"Apple", "Barclays", "Cisco"}
S18 = {"Cummins", "Diamler", "EY"}

In [99]:
S15.isdisjoint(S16)

True

In [100]:
S17.isdisjoint(S18)

True

In [101]:
S11.isdisjoint(S12)

False

In [102]:
S13.isdisjoint(S14)

False

### Set Operations: Other useful methods

### copy():

In [108]:
S14 = {1,2,3,4,5}
S15 = {"Apple", "Banana", "Cherry", "Dragonfruit", "Eggfruit"}

##### Shalow Copy example:

• Shalow copy is like shadow of tree. If we made changes in orginal set, same will appear in copied set.

• Copies the outer object, but nested objects are still references to the original nested objects.

In [109]:
S16 = S14

S16.remove(3)

print(f"Original set: {S14}")
print(f"Copied set: {S16}")

Original set: {1, 2, 4, 5}
Copied set: {1, 2, 4, 5}

In [110]:
S17 = S15

S17.remove("Eggfruit")

print(f"Original set: {S15}")
print(f"Copied set: {S17}")

Original set: {'Banana', 'Cherry', 'Apple', 'Dragonfruit'}
Copied set: {'Banana', 'Cherry', 'Apple', 'Dragonfruit'}

##### Deep Copy example:

• Changes made in Copied set will not reflect in Original set.

• Copies both the outer object and all nested objects, so the new object is entirely independent of the original.

In [111]:
import copy

S18 = S14.copy()

S18.pop()

print(f"Original set: {S14}")
print(f"Copied set: {S18}")

Original set: {1, 2, 4, 5}
Copied set: {2, 4, 5}

In [112]:
import copy 

S19 = S15.copy()

S19.pop()

print(f"Original set: {S15}")
print(f"Copied set: {S19}")

Original set: {'Banana', 'Cherry', 'Apple', 'Dragonfruit'}
Copied set: {'Banana', 'Cherry', 'Apple'}

### len():

Returns the number of elements in the set.

In [113]:
len(S11)

5

In [114]:
S11.__len__()

5

# Important Questions asked in the Interview based on Python Set

### 1. How to delete duplicate elements from python list?

In [117]:
# suppose we have list [1,2,2,3,4,5,4,5,2,3,6,7,0,4,5,6,7,8,4,5,7,8,9]

lst = [1,2,2,3,4,5,4,5,2,3,6,7,0,4,5,6,7,8,4,5,7,8,9]

new = set(lst)

new

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

### 2. Suppose I have set S = {1,2,2,3,3,3,4,4,4,4,5,5,5,5,5} and if i want to remove 3 how will i remove it and what will be my output?

In [120]:
S = {1,2,2,3,3,3,4,4,4,4,5,5,5,5,5}

new = set(S)

new.remove(3)

new

{1, 2, 4, 5}